#Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on
ErrorDocument 404 /404.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php
RewriteRule uploads/(.*).(php)$ – [F]